* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
body {
  border-width: 25px;
  border: 25px solid white;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.main {
  height: 600px;
  background-color: #3b3f45;
  display: block;
}

.header {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #4a4f56;
  height: 120px;
}
.header h2,
h3 {
  color: #eb7e7f;
  margin: 0 auto;
}
.header h2 {
  padding: 25px 0 10px 0;
  font-size: 30px;
}
.header h3 {
  font-size: 25px;
}

.section {
  width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
}
.section li {
  list-style-type: none;
  height: 65px;
  vertical-align: middle;
  line-height: 20px;
  background-color: #7a7593;
}
.section ul li:hover {
  background-color: #625e77;
  cursor: pointer;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

span,
p,
input:hover {
  cursor: pointer;
}
p {
  display: inline-block;
  font-size: 16px;
  color: #cdcbcd;
}
input:checked ~ span {
  text-decoration: line-through;
}
input:checked ~ span > p {
  text-decoration: line-through;
}

.footer {
  margin: -7% auto;
  background-color: #4a4f56;
  height: 60px;
  text-align: center;
  padding-top: 25px;
  width: 800px;
  font-size: 25px;
}